@import './var';

.articles { 
    background: #EFF6F1;
    padding-top: 140px;
    padding-bottom: 140px;
    .container {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        min-height: 580px;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 460px;
        height: 580px;
        &:nth-child(1)  {
        background-image: url(../img/article1.png);
        }
        &:nth-child(2) {
            background-image: url(../img/article2.png);
        }
        &:nth-child(3) {
            background-image: url(../img/article3.png);
        }
    }
    &__tag {
        background: linear-gradient(0deg, #ffffff, #ffffff);
        border-radius: 20px;
        width: 312px;
        height: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s linear;
        p {
            color: #274C5B;
            text-align: center;
            font-family: 'RobotoBold';
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 35px;
            letter-spacing: 0.36px;
        }
        &:hover {
            transform: scale(1.05);
            transition: 0.4s linear;
            background: linear-gradient(0deg, #fdfaeb, #fffc63, #fffdf3);
        }
        &:active {
            background: linear-gradient(0deg, #fdfaeb, $orange, #fffdf3);
        }
    }
}

@media only  screen and (max-width:760px) {
    .articles {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media only  screen and (max-width:500px) {
    .articles {
        &__block {
            width: 80%;
            height: 460px;
        }
        &__tag {
            max-width: 250px;
        }
    }
}

@media only  screen and (max-width:360px) {
    .articles {
        &__block {
            width: 80%;
            height: 360px;
        }
        &__tag {
            max-width: 200px;
        }
    }
}


